ROOT_USERNAME=changeme
ROOT_PASSWORD=changeme
ROOT_EMAIL=changeme

JWT_SECRET=changeme
SESSION_SECRET=changeme
SESSION_COOKIE_HTTPS_ONLY=FALSE

GMAIL_USERNAME=changeme
GMAIL_PASSWORD=changeme

OAUTH_REDIRECT_BASE_URL=http://localhost:8006
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=changeme
GOOGLE_CLIENT_SECRET=changeme
GITHUB_CLIENT_ID=changeme
GITHUB_CLIENT_SECRET=changeme

POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=rampart
POSTGRES_HOST=localhost

PGADMIN_EMAIL=changeme
PGADMIN_PASSWORD=changeme

REDIS_HOST=localhost
REDIS_PASSWORD=changeme

VIRUSTOTAL_KEY1=changeme
VIRUSTOTAL_KEY2=changeme

RAMPARTAI_URL=http://10.212.51.8:4556
MOBSF_BASE_URL=http://10.212.51.8:8001
MOB_API_KEY=changeme
CAPE_BASE_URL=http://10.212.51.8:8000

GEMINI_API_KEY1=changeme
GEMINI_API_KEY2=changeme
GEMINI_API_KEY3=changeme
GEMINI_API_KEY4=changeme

TEST_MODE=TRUE
TEST_USER_USERNAME=changeme
TEST_USER_EMAIL=changeme
TEST_ACCESS_TOKEN_MINUTES=120
