fastapi
uvicorn
python-multipart
aiofiles
pydantic
redis
celery
google-genai
google-auth
google-auth-httplib2
requests
python-dotenv
sqlalchemy[asyncio]
asyncpg
python-jose[cryptography]
psycopg2-binary
dotenv
pytest
pytest-asyncio
authlib
itsdangerous
httpx
Pillow
